/* Переменные для шрифтов */
:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-great-vibes: 'Great Vibes', cursive;
}

/* Основной шрифт */
body {
  font-family: var(--font-montserrat);
}

/* Класс для Great Vibes */
.great-vibes {
  font-family: var(--font-great-vibes);
  font-weight: 400;
  font-style: normal;
}
