@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Базовый зелёный фон страницы */
body {
  background: radial-gradient(1200px 600px at 50% -200px, #9BC381 0%, #7BA862 35%, #5F8A48 100%);
  color: #5C5552;
  margin: 0;
  padding: 0;
}
